html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.background {
    background-color: #000;
    background-image: url('../images/bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-container * {
    color: #fff;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    line-height: 1em;
    box-sizing: border-box;
}

.login-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
}

.form-container {
    width: 40%;
    padding: 45px;
    float: left;
    border-right: 1px solid #999;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #fff;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #fff;
}

.form-container h2 {
    text-align: center;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    display: block;
    margin: 0 0 10px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    width: 100%;
    outline: none;
}

.form-container label {
    color: #a0a0a0;
    font-size: 13px;
    margin-top: 15px;
    display: block;
}

.form-container button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 150px;
    color: #fff;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    margin: 20px auto;
    height: 41px;
    width: 100%;
    outline: none;
}

.form-container button:hover {
    cursor: pointer;
}

.has-account span {
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.has-account {
    text-align: center;
}

.register-form, .login-form {
    display: none;
}

.login-text {
    padding: 45px;
    display: table-cell;
}

.login-text h1 {
    color: #07d159;
    font-size: 60px;
    font-weight: bold;
}

.login-text h2 {
    margin: 35px 0;
}

.login-text ul {
    padding: 0;
}

.login-text li {
    font-size: 20px;
    list-style-type: none;
    padding: 5px 30px;
    background: url('../images/icons/checkmark.png') no-repeat;
}

.error-message {
    color: #07d159;
    font-size: 12px;
    display: block;
}